* {
  color: azure;
  background-color: black;
  text-align: center;
}

img {
  width: 520px;
}

div {
  display: inline-block; width: ;
}

button {
  background-color: rgb(32, 74, 212);
  border-radius: 0.4em;
  width: 150px;
}

hr {
  display: inline-block;
  width: 100px;
}

#ad {
  width: 40px;
  height: 40px;
  margin-inline-start: 10px;
  margin-bottom:1px;
}

#a2 :hover {
  text-underline-offset: ;
}

a {
  color: rgb(72, 105, 222);
}

#co{
  color: rgb(17, 93, 180);text-decoration: none; padding-top: 0px;
}
#co:hover{text-decoration: underline;}
#oa{text-decoration: none;
  color: azure;
}
#oa:hover{text-decoration: underline;}

#a1 {
  color: azure;
}

.ab {
  word-spacing: 5px;
  color: white;
  text-decoration: none;
}

.ab:hover {
  text-decoration: underline;
}

#a23 {
  background-color: rgb(0, 100, 131);
  color: azure;
  width: 238px;
  border-radius: 0.4em;
  height: 30px;
  box-shadow: none;
}

.asd {
  height: 30px; width:230px;
  border-radius: 0.3em;
}

#aw {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
#qwerty{text-decoration: none;}
#qwerty:hover{text-decoration:underline;}
